<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>PSIHOTEST: M.B.T.I.</title>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.4.7/css/foundation.css">
    </head>
    <body ng-controller="questionaire">    
        <h2>PSIHOTEST: M.B.T.I.</h2>
        <p>
            Distribuiţi 5 puncte variantele a şi b ale fiecărei afirmaţii, proporţional cu măsura în care acestea sunt conforme cu modul Dvs. de a fi şi de a vă comporta (folosiţi numere întregi). Treceţi notele în fişa de răspuns.
        </p>     
        <tabel>
            <tr ng-repeat="item in questionList">
                <td>ID: {{item.identifier}}</td>
                <td>INTREBARE: {{item.question}}</td>
            </tr>
        </tabel>
        <form name="myForm" ng-controller="questionaire">     
            <panel>Intrebarea va fi plasata aici</panel><br/>Raspuns: {{select.value}}<br>
            <input type="radio" ng-model="select.value" value="1"> 1
            <input type="radio" ng-model="select.value" value="2"> 2
            <input type="radio" ng-model="select.value" value="3"> 3
            <input type="radio" ng-model="select.value" value="4"> 4
            <input type="radio" ng-model="select.value" value="5"> 5
            <br>
        </form>
        <form name="myForm" ng-controller="questionaire">
           <br/>Your answer is: {{select.value}}<br>
            <input type="radio" ng-model="select.value" value="1"> 1
            <input type="radio" ng-model="select.value" value="2"> 2
            <input type="radio" ng-model="select.value" value="3"> 3
            <input type="radio" ng-model="select.value" value="4"> 4
            <input type="radio" ng-model="select.value" value="5"> 5
            <br>
        </form>

    
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>